%section
  #SITE_PAGE_SECTION
  .inline-content
    .section-content-link
      .backgourd-section
        .bg-fucking-shit
          .bg-bitch
      .left-image
        .wp2link
          .img-loader
            = image_tag("/images/kid.jpg")
      .section-trianger-image
        %svg
          %g
            %path{:d => "M167.402 0l167.403 289.949H0L167.402 0z"}
      .section-a-boutique-shop
        %h3 A boutique Shop
        %h5.font_5{:style => "text-align:center;"}  
        %h5.font_5.for-your-little-ones
          %span{:style => "line-height:0.5em;"}
          %span{:style => "letter-spacing:0.1em;"} for your little ones
      .section-button-show-clothes
        .link
          %span Shop Clothes Collection 

.trianger-image-summer-sale-off
  %svg
    %g
      %path{:d => "M167.402 0l167.403 289.949H0L167.402 0z"}
.trianger-summer-sale
  %h5.font_5
    %span      
      %span Summer        
  %h5.font_5
    %span      
      %span Sale
.sale-off-percent
  %h4.font_4 40% Off
  %h6.font_6
    %span Spring / Summer
  %h6.font_6
    %span Clothing!
.sale-off-shop-now
  .link
    %span Shop Now    
.new-toy-collection-image
  %svg{:preserveaspectratio => "xMidYMid meet", :style => "stroke-width: 0px;", :viewbox => "42.97100067138672 47.69499969482422 311.9939880371094 264.2340087890625", :xmlns => "http://www.w3.org/2000/svg"}
    %g
      %path{:d => "M120.97 311.929L42.971 179.812 120.97 47.695h155.996l77.999 132.117-77.999 132.117H120.97z"}
.new-toy-collection
  %h5.font_5
    %span New Toys Collection
.shop-now-new-toy-collection
  .link
    %span Shop Now
.small-image-near-new-toy-collection
  %svg{:preserveaspectratio => "xMidYMid meet", :style => "stroke-width: 0px;", :viewbox => "42.97100067138672 47.69499969482422 311.9939880371094 264.2340087890625", :xmlns => "http://www.w3.org/2000/svg"}
    %g
      %path{:d => "M120.97 311.929L42.971 179.812 120.97 47.695h155.996l77.999 132.117-77.999 132.117H120.97z"}
.dog-toy-circle-image
  .link
    .center-content
      = image_tag("https://static.wixstatic.com/media/cda177_ae0c229baef1427394d760cf280339c3.png")
.new-circle
  .bg
  .content
    .inline-conetnt
      %p.font_7 NEW
.clothes-circle-image
  .link
    .center-content
      = image_tag("https://static.wixstatic.com/media/cda177_af1d1489e761419793c3e4abb56e2975.png")
.train-toy-circle-image
  .link
    .center-content
      = image_tag("https://static.wixstatic.com/media/cda177_dfe8ea3169184d57a42640e869b8a360.png")
.get-know-more-us
  %svg{:preserveaspectratio => "xMidYMid meet", :style => "stroke-width: 0px;", :viewbox => "49.94200134277344 49.79399871826172 502.115966796875 502.11700439453125", :xmlns => "http://www.w3.org/2000/svg"}
    %g
      %path{:d => "M552.058 300.853L301 551.911 49.942 300.853 301 49.794l251.058 251.059z"}
.get-know-more-us-text 
  %h5.font_5
    %span Get To
  %h5.font_5
    %span Know Us  
.our-story
  .link
    %span Our Story
.shoes-circle-image
  .link
    .center-content
      = image_tag("https://static.wixstatic.com/media/cda177_0904e9c96a71487d8d37af66372bae81.png")
.horse-circle-image
  .link
    .center-content
      = image_tag("https://static.wixstatic.com/media/cda177_25512b8d83344e3b940d9eac6f266df4.png")
.sweater-circle-image
  .link
    .center-content
      = image_tag("https://static.wixstatic.com/media/cda177_a779b25d1ca54bfaa29422f86a0eda28.png")
.dress-circle-image
  .link
    .center-content
      = image_tag("https://static.wixstatic.com/media/cda177_195608aed7e14f1ea43b7c6a954c243a.png")
